{% extends 'product_listing/global_template.html' %}
{% block content %}

    <div class='chat-container container-fluid row justify-content-start'>
        <div class='chat-index-group col-12 form-row'>
            <div class='chat-header col-12 info-label form-group'>Click button to contact seller</div>
            <div class='chat-enter-button col-12 form-group'>
                <input id="room-name-submit" class='form-control col-1' type="button" value="Enter">
            </div>
        </div>
    </div>

    <script>
        document.querySelector('#room-name-submit').onclick = function(e) {
            window.location.pathname = '/chat/' + {{user.id}} + '/';
        };
    </script>

{% endblock %}
