/*
	Global Style
*/

html, body {
	background-color: #EAE6E2;
	letter-spacing: .12rem;
	-ms-overflow-style: none;
	padding-bottom: 2rem;
}

html::-webkit-scrollbar {
	display: none;
}

.container {

}

.header {
	padding: 1% 1%;
	color: black;
}

.right > * {
	padding: .2rem .8rem;
}

.right > * > * {
	text-align: center;
	font-size: .8rem;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, h1:hover, .right > .col :hover, .single-filter-option:hover, button:hover {
	
	outline: none;
	border: none;
	color: #555555;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: black;
}

h1 {
	font-size: 2rem;
	text-decoration: underline;
}

h2 {
	font-size: 1.1rem;
}

/*
	Homepage Style
*/

.listings-container {
	padding: 3% 0%;
}

.single-filter {
	margin: 1rem;
}

h5 {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: .4rem;
}

.list-group-item {
	border: none;
	background-color: transparent;
	padding: .2rem 1rem;
	font-size: .8rem;
}

.more-filters-button {
	background-color: transparent;
	border: none;
}

.listing {
	padding: 2rem;
	font-size: .8rem;
	margin-bottom: 4rem;
	height: 550px;
}

.listing-image {
	margin: 0rem 0rem;
}

.listing-name, .listing-info, .listing-seller, .listing-message, .listing-cart, .listing-stock {
	margin: .1rem 0rem;
	height: 2rem;
	align-content: center;
}

.listing-name {
	margin-top: 1rem;
}

.listing-button#room-name-submit, .listing-button#add-to-cart-submit {
	border-radius: 1rem;
	font-size: .8rem;
	letter-spacing: .12rem;
	border: none;
	padding: .2rem .8rem;

}

/*
	List Item Style
*/

.listing-form {
	padding: 1%;
}

.form-group {
	margin: .4rem 0rem;
	padding: 0rem 0rem;
}

.info-label {
	font-size: .8rem;
	padding: .3rem 0rem;
}

input .image {
	background-color: transparent;
}

.submit > .form-control {
	letter-spacing: .12rem;
	margin-top: 1.5rem;
}

/*
	Account Index Style
*/

.account-container {
	padding: 1%;
}

.account-container > * {
	margin-bottom: 2rem;
}

.user-info > .row > .col-3, .user-listing {
	margin-top: .2rem;
	margin-bottom: .3rem;
}

.user-info-header {
	font-weight: bold;
	margin-top: 0rem;
	margin-bottom: .2rem;
}

.info-value {
	text-decoration: underline;
}

.user-purchases > * > .user-info-header {
	margin-bottom: .2rem;
}

table {
	margin-top: 1rem;
	margin-left: 1rem;
}

table > * > * > * {
	padding: .9rem;
}

/*
	Login Style
*/

.login-container {
	padding: 1% 2%;
}

/*
	Cart Style
*/

.cart-items {
	border-bottom: 1px solid black;
	min-height: 4rem;
	margin-bottom: 1rem;
}

.cart-price {
	font-size: 1rem;
	font-weight: bold;
}

.cart-item {
	padding: .8rem 0rem;
	border-top: 1px black solid;
}

.cart-item-left > * {
	font-size: 1rem;
	padding: .2rem 1rem;
}

.remove-button {
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: .8rem;
	letter-spacing: .12rem;
	padding-left: .1rem;
}

.checkout-button-container {
	padding: 1rem 0rem;
}

.checkout-button {
	border-radius: 1rem;
	padding: .4rem 1rem;
	background-color: white;
}

.checkout-success-container {
	margin: 1rem 2rem;
}

/*
	Chat Style
*/

#room-name-submit {
	background-color: white;
	border: none;
}

#chat-log, #chat-message-input{
	padding: .5rem;
	margin: 1rem 0rem;
}

#chat-message-submit {
	margin: 1rem 0rem;
}