{% extends 'product_listing/global_template.html' %}

<h1>list shit</h1>

{% block content %}
  <div class='container'>
	<div class='filters-container'>
		<div class='single-filter'>
			<div class='filter-header'>Categories</div>
			<div class='filter-options'>
				<div class='single-filter-option'>Clothing</div>
				<div class='single-filter-option'>Footwear</div>
				<div class='single-filter-option'>Wall Art</div>
				<div class='single-filter-option'>Design</div>
				<div class='single-filter-option'>Misc.</div>
			</div>
		</div>
		<div class='single-filter'>
			<div class='filter-header'>Neighborhoods</div>
			<div class='filter-options'>
				<div class='single-filter-option'>Le Plateau</div>
				<div class='single-filter-option'>Downtown</div>
				<div class='single-filter-option'>Old Montreal</div>
				<div class='single-filter-option'>Mile-End</div>
				<div class='single-filter-option'>Gay Village</div>
				<div class='single-filter-option'>Griffintown</div>
			</div>
			<div class='more-filters-container'>
				<button class='more-filters-button'>+ More</button>
			</div>
		</div>
		<div class='single-filter'>
			<div class='filter-header'>Prices</div>
			<div class='filter-options'>
				<div class='single-filter-option'>0-9</div>
				<div class='single-filter-option'>10-19</div>
				<div class='single-filter-option'>20-29</div>
				<div class='single-filter-option'>30-49</div>
				<div class='single-filter-option'>50-99</div>
				<div class='single-filter-option'>99+</div>
			</div>
		</div>
		<div class='single-filter'>
			<div class='filter-header'>Sizes</div>
			<div class='filter-options footwear'>
				<div class='single-filter-option'>Le Plateau</div>
				<div class='single-filter-option'>Downtown</div>
				<div class='single-filter-option'>Old Montreal</div>
				<div class='single-filter-option'>Mile-End</div>
				<div class='single-filter-option'>Gay Village</div>
				<div class='single-filter-option'>Griffintown</div>
			</div>
		</div>
	</div>

	<div class='listings-container'>
		{% for product in products %}
			<div class='listing'>
				<div class='listing-image'><img src="{{ product.1 }}"></div>
				<div class='listing-name'>{{ product.0.name }}</div>
				<div class='listing-info'>{{ product.0.price_current }} // {{ product.0.size }}</div>
			</div>
		{% endfor %}
	</div>
  </div>
{% endblock %}
