{% extends 'product_listing/global_template.html' %}

<h1>list shit</h1>

{% block content %}

{% load category_tags %}
{% load subcategory_tags %}
{% load neighborhood_tags %}
{% load product_tags %}

{% load static %}

<div class='index-container row container-fluid justify-content-left'>
	<div class='filters-container col-3'>
		<div class='single-filter'>
			<h5 class='filter-list-header'>Categories</h5>
			<ul class='filter-options list-group'>
				{% show_categories %}
			</ul>
		</div>

		<div class='single-filter'>
			<h5 class='filter-list-header'>Subcategories</h5>
			<ul class='filter-options list-group'>
				{% show_subcategories %}
			</ul>
		</div>

		<div class='single-filter'>
			<h5 class='filter-list-header'>Neighborhoods</h5>
			<ul class='filter-options list-group'>
				{% show_neighborhoods %}
			</ul>
			
		</div>
		<div class='single-filter'>
			<h5 class='filter-list-header'>Prices</h5>
			<ul class='filter-options list-group'>
				<li class='single-filter-option list-group-item'>0-9</li>
				<li class='single-filter-option list-group-item'>10-19</li>
				<li class='single-filter-option list-group-item'>20-29</li>
				<li class='single-filter-option list-group-item'>30-49</li>
				<li class='single-filter-option list-group-item'>50-99</li>
				<li class='single-filter-option list-group-item'>99+</li>
			</ul>
		</div>
		<div class='single-filter'>
			<h5 class='filter-list-header'>Sizes</h5>
			<ul class='filter-options tops list-group' hidden>
				<li class='single-filter-option list-group-item'>S</li>
				<li class='single-filter-option list-group-item'>M</li>
				<li class='single-filter-option list-group-item'>L</li>
				<li class='single-filter-option list-group-item'>XL</li>
				<li class='single-filter-option list-group-item'>XL+</li>
			</ul>
			<h8 class='no-category-selected-error list-group-item'>Select a Category</h8>
		</div>
	</div>

	<div class='listings-container row col-8 justify-content-left'>
		{% for product in products %}
		{% if product.0.stock != 0 %}
			<div class='listing {{ product.0.category }} {{ product.0.location }} {{ product.0.name }} {{ product.0.subcategory }} col-6 justify-content-center'>
				<div class='listing-image-container row justify-content-center'>
					<img class='listing-image row col-8' src="{{ product.1.img.url }}">
				</div>
				<div class='listing-name row justify-content-center'>{{ product.0.name }}</div>
				<div class='listing-info row justify-content-center'>Price: {{ product.0.price_initial }}  /  Size: {{ product.0.size }}</div>
				<div class='listing-seller row justify-content-center'>Seller: {{ product.0.seller }}</div>
				<div class='listing-desc row justify-content-center'>Description: {{ product.0.description }}</div>
				{% if product.0.stock == 0 %}
					<div class='listing-stock row justify-content-center'>Stock: OUT OF STOCK</div>
					{% if user.id == product.0.seller.id %}
					<div class='delete_listing row col-12 justify-content-center'>
						<input id="delete_listing" class='listing-button' action='delete' type="button" onclick='location.href="{{product.0.id}}/delete_listing"' value="Delete Listing">
					</div>
					<div class='modify_listing row col-12 justify-content-center'>
						<input id="modify_listing" class='listing-button' action='modify' type="button" onclick='location.href="{{product.0.id}}/modify_listing"' value="Modify Listing">
					</div>			
					{% endif %}
				{% else %}
					<div class='listing-stock row justify-content-center'>Stock: {{ product.0.stock }}</div>
					<div class='listing-cart row justify-content-center'>
						<label for='quantity'>Quantity: </label>
						<input type="number" id="quantity" name="quantity" min="1" max="{{product.0.stock}}" value="1">
					</div>
					<div class='listing-message row justify-content-center'>
						<input id="room-name-submit" class='listing-button' type="button" onclick='location.href="chat/{{product.0.seller.id}}"' value="Message Seller">
					</div>
					<div class='listing-cart row justify-content-center'>
						<input name='quantity' id="add-to-cart-submit" class='listing-button' type="button" onclick='location.href="cart/action=add&id={{product.0.id}}&quantity="+document.getElementById("quantity").value' value="Add to Cart">
					</div>
					{% if user.id == product.0.seller.id %}
						<div class='delete_listing row col-12 justify-content-center'>
							<input id="delete_listing" class='listing-button' action='delete' type="button" onclick='location.href="{{product.0.id}}/delete_listing"' value="Delete Listing">
						</div>
						<div class='modify_listing row col-12 justify-content-center'>
							<input id="modify_listing" class='listing-button' action='modify' type="button" onclick='location.href="{{product.0.id}}/modify_listing"' value="Modify Listing">
						</div>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

<script>
</script>

<script src="{% static "product_listing/script.js" %}"></script>

{% endblock %}
