{% extends 'product_listing/global_template.html' %}
{% block content %}
<div class='form-container container-fluid justify-content-left'>
	{% if feedback %}
		<div class='feedback-container row col-6 justify-content-center'>
			<h4 class='feedback row col'>{{ feedback }}</h4>
		</div>
	{% endif %}
	<form action="/list/" method="post" enctype="multipart/form-data">
		{% csrf_token %}

		{{ form.non_field_errors }}
		<table> {{ form.as_table }}  </table>
		<input type="submit" value="Submit">
	</form>
	{{ form.non_field_errors }}
	{{form.data.errors}}
</div>
{% endblock %}
