{% extends 'product_listing/global_template.html' %}
{% block content %}

{% load static %}

<div class='form-container container-fluid justify-content-left'>
	<h3>Change Listing:</h3>
	<form method="post" enctype="multipart/form-data">
		<div class='listing-product row col-12 justify-content-center'>
			{% csrf_token %}
			{{ form.non_field_errors }}
			<table> {{ form.as_table }} </table>
			<input id="modify_listing" type="submit" value="Apply Changes">	
		</div>
	</form>
</div>

<script src="{% static "product_listing/listItem_script.js" %}"></script>

{% endblock %}
