{% for product in products %}

	<div class='listing col-6 justify-content-center'>
		<div class='listing-image row col-12 justify-content-center'><img src="{{ product.img.url }}"></div>
		
		<div class='listing-name row col-12 justify-content-center'>{{ product.name }}</div>
		<div class='listing-info row col-12 justify-content-center'>Price: {{ product.price_current }}  /  Size: {{ p.0.size }}</div>
		<div class='listing-seller row col-12 justify-content-center'>Seller: {{ product.seller }}</div>
		<div class='listing-message row col-12 justify-content-center'>
			<input id="room-name-submit" type="button" onclick='location.href="chat/{{product.seller.id}}"' value="Message Seller">
		</div>
	</div>

{% endfor %}