{% for product in products %}

	<div class='listing {{ product.category }}  {{product.location }} {{ product.name }} col-6 justify-content-center'>
		<div class='listing-image row col-12 justify-content-center'><img src="{{ products1.img.url }}"></div>
		<div class='listing-name row col-12 justify-content-center'>{{ product.name }}</div>
		<div class='listing-info row col-12 justify-content-center'>Price: {{ product.price_initial }}  /  Size: {{ product.size }}</div>
		<div class='listing-seller row col-12 justify-content-center'>Seller: {{ product.seller }}</div>
		<div class='listing-desc row col-12 justify-content-center'>Description: {{ product.description }}</div>
		{% if product.stock == 0 %}
			<div class='listing-stock row col-12 justify-content-center'>Stock: OUT OF STOCK</div>
		{% else %}
			<div class='listing-stock row col-12 justify-content-center'>Stock: {{ product.stock }}</div>
			<div class='listing-message row col-12 justify-content-center'>
				<input id="room-name-submit" class='listing-button' type="button" onclick='location.href="chat/{{product.seller.id}}"' value="Message Seller">
			</div>
			<div class='listing-cart row col-12 justify-content-center'>
				<input id="add-to-cart-submit" class='listing-button' type="button" onclick='add' value="Add to Cart">
			</div>
			<div class='delete_listing row col-12 justify-content-center'>
				<input id="delete_listing" class='listing-button' type="button" onclick='location.href="{{product.id}}/delete_listing"' value="Delete Listing">
			</div>
			<div class='modify_listing row col-12 justify-content-center'>
				<input id="modify_listing" class='listing-button' type="button" onclick='location.href="{{product.id}}/modify_listing"' value="Modify Listing">
			</div>
		{% endif %} 
		
		
	</div>

{% endfor %}
