<!--  -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>User Authentification</title>
</head>
<body>
    Please log in or sign up!<br>
<!--    <input id="room-name-input" type="text" size="100"><br> -->
    <input id="user-log-in" type="button" value="Log in">
    <input id="user-sign-up" type="button" value="Sign up">

    <script>
//        document.querySelector('#room-name-input').focus();
//        document.querySelector('#room-name-input').onkeyup = function(e) {
//            if (e.keyCode === 13) {  // enter, return
//                document.querySelector('#room-name-submit').click();
//            }
//        };

        document.querySelector('#user-log-in').onclick = function(e) {
            window.location.pathname = '/account/' + 'login' + '/';
        };
        document.querySelector('#user-sign-up').onclick = function(e) {
            window.location.pathname = '/account/' + 'signup' + '/';
        };
    </script>
</body>
<\html>
