{% extends 'product_listing/global_template.html'%}

{% block content %}
    {% if user.is_authenticated %}
        <div class='account-container container-fluid justify-content-center row'>
            <div class='user-info row col-12 justify-content-left'>

                <div class='row col-12'>
                    <div class='user-info-header col-12'>Info</div>
                </div>

                <div class='row col-12'>
                    <div class='user-username col-3'>
                        <div class='info-label'>Username</div>
                        <div class='info-value'>{{user.username}}</div>
                    </div>
                    <div class='user-email col-3'>
                        <div class='info-label'>Email</div>
                        <div class='info-value'>{{user.email}}</div>
                    </div>
                </div>
                
                <div class='row col-12'>
                    <div class='user-email col-12'>
                        <div class='info-label'>Location</div>
                        <div class='info-value'>{{user.location}}</div>
                    </div>
                </div>
            </div>

            <div class='user-listings row col-12 justify-content-left'>

                <div class='row col-12'>
                    <div class='user-info-header col-6'>Listings</div>
                </div>

                <!--do this for every listing-->
                <div class='row col-12'>
                    <div class='user-listing col-6'>
                        <div class='info-value'>A Listing</div>
                    </div>
                </div>
                <!--end-->

            </div>

            <div class='user-purchases row col-12'>

                <div class='row col-12'>
                    <div class='user-info-header col-6'>Purchases</div>
                </div>

                <div class='row col-12'>
                    <table class="table table-striped col-12">
                        <thead>
                            <tr>
                            <th scope="col-1">#</th>
                            <th scope="col-4">Name</th>
                            <th scope="col-1">Price</th>
                            <th scope="col-4">Neighborhood</th>
                            <th scope="col-2">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--For each Purchase, make one of these-->
                            <!--Added automatic history listing-->
                            {% for p in products %} <!--here 'products' is taken from product_listing.views, line 14-->
                            <tr>
                            <th scope="row">{{ p.id }}</th>
				            <td>{{p.name}}</td>
				            <td>{{p.price_current}}</td>
				            <td>{{p.location}}</td>
				            <td>{{p.time}}</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        
    {% else %}
    Please log in or sign up!<br>
    {% comment %} <div class="auth-choice-container">
      <div class="auth-choice"><a href="{% url 'account:login' %}">Login</a></div>
      <div class="auth-choice"><input type="submit" action="logout" value="Logout"></div>
      <div class="auth-choice"><a href="{% url 'account:login' %}">Signup</a></div>
    </div> {% endcomment %}


      <input id="user-login" type="button" value="Login">
      <input id="user-signup" type="button" value="Signup">
      <input id='logout' type='button' value='Logout'>
      {% endif %}
    <script>
//        document.querySelector('#room-name-input').focus();
//        document.querySelector('#room-name-input').onkeyup = function(e) {
//            if (e.keyCode === 13) {  // enter, return
//                document.querySelector('#room-name-submit').click();
//            }
//        };

        document.querySelector('#user-login').onclick = function(e) {
            window.location.pathname = '/account/' + 'login' + '/';
        };
        document.querySelector('#user-signup').onclick = function(e) {
            window.location.pathname = '/account/' + 'signup' + '/';
        };
        document.querySelector('#logout').onclick = function(e) {
            window.location.pathname = '';
        };
    </script>
{% endblock %}
